@inject NavigationManager NavigationManager
@inject IDeleteFeatureUseCase DeleteFeatureUseCase

@if (Feature != null)
{

    <tr>
        <td>@Feature.FeatureName</td>
        <td>@Feature.Description</td>
        <td>@Feature.AddedPrice.ToString("c")</td>
        <td>
            <button type="button" class="button-21" @onclick="@(()=> EditFeature(Feature.FeatureId))">
                    <i class="fa-solid fa-pen-to-square" style="font-size:20px;"></i>
            </button>
            <button type="button" class="button-21" @onclick="@(async ()=> await DeleteFeature(Feature))">
                    <i class="fa-solid fa-trash" style="font-size:20px;"></i>
            </button>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Feature? Feature { get; set; }

    [Parameter]
    public EventCallback OnFeatureDeleted { get; set; }

    private void EditFeature(int featureId)
    {
        NavigationManager.NavigateTo($"/editfeature/{featureId}");
    }

    private async Task DeleteFeature(Feature feature)
    {
        await DeleteFeatureUseCase.ExecuteAsync(feature.FeatureId);

        await OnFeatureDeleted.InvokeAsync();
    }

}